body {
    font-family: 微软雅黑, Arial, Lato, proxima-nova, Helvetica Neue, sans-serif;
    font-weight: 400;
    color: #404040;
    min-height: 100%;
    background: #edf0f2;
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 1024px !important;
    margin: auto
}

.wy-menu-vertical li.current {
    background: #fbfbef;
}

.wy-menu-vertical li.toctree-l2 a,
.wy-menu-vertical li.toctree-l3 a,
.wy-menu-vertical li.toctree-l4 a,
.wy-menu-vertical li.toctree-l5 a,
.wy-menu-vertical li.toctree-l6 a,
.wy-menu-vertical li.toctree-l7 a,
.wy-menu-vertical li.toctree-l8 a,
.wy-menu-vertical li.toctree-l9 a,
.wy-menu-vertical li.toctree-l10 a {
    color: #2185c6;
}

.wy-menu-vertical li.current>a,
.wy-menu-vertical li.on a {
    color: #017156;
    font-weight: 700;
    position: relative;
    background: #fcfcfc;
    border: none;
    padding: .4045em 1.618em;
}

.wy-menu-vertical li.current>a button.toctree-expand,
.wy-menu-vertical li.on a button.toctree-expand {
    display: block;
    line-height: 18px;
    color: #017156;
}

.wy-menu-vertical li.toctree-l2 button.toctree-expand {
    color: #1d9c9a;
}